In [1]:
#imports
import os
import pandas as pd
import numpy as np
from math import sin, cos, sqrt, atan2, radians

In [ ]:
filename = os.path.join(os.getcwd(), "hurdat2_sample.csv")
df = pd.read_csv(filename)

In [10]:
df.head(10)

,Unnamed: 0,Year,Time,Storm Name/Record Identifier,Number of Entries/Status,Latitude,Longitude,Maximum Sustained Wind,Minimum Pressure,34-knot Wind Radii NE,...,34-knot Wind Radii SW,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW
0,0,AL011851,UNNAMED,14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1851-06-25,0000,,HU,28.0N,94.8W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,2,1851-06-25,0600,,HU,28.0N,95.4W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,3,1851-06-25,1200,,HU,28.0N,96.0W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,4,1851-06-25,1800,,HU,28.1N,96.5W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
5,5,1851-06-25,2100,L,HU,28.2N,96.8W,80.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
6,6,1851-06-26,0000,,HU,28.2N,97.0W,70.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
7,7,1851-06-26,0600,,TS,28.3N,97.6W,60.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
8,8,1851-06-26,1200,,TS,28.4N,98.3W,60.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
9,9,1851-06-26,1800,,TS,28.6N,98.9W,50.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [ ]:
#shorten column names and strip extra spaces from Name
df.rename(columns={"Unnamed: 0": "Name", "Storm Name/Record Identifier": "Record Identifier", "Number of Entries/Status": "Status of System"}, inplace=True)
df["Name"] = df["Name"].str.strip()

NameError: name 'df' is not defined

In [ ]:
#move name from Time column to Name column
df.insert(1, "Num Entries", df[df["Record Identifier"].astype(str).str.isdigit()]["Record Identifier"])
df["Name"] = df.loc[df["Year"].str.startswith("AL")]["Time"]
df["Name"] = df["Name"].fillna(method='ffill')
#propogate num entries
df["Num Entries"] = df["Num Entries"].fillna(method='ffill')
#delete header rows
df = df.drop(df[df["Year"].str.startswith("AL")].index)

,Name,Num Entries,Year,Time,Record Identifier,Status of System,Latitude,Longitude,Maximum Sustained Wind,Minimum Pressure,...,34-knot Wind Radii SW,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW
0,0,14,AL011851,UNNAMED,14,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,1851-06-25,0000,,HU,28.0N,94.8W,80.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
2,2,NaN,1851-06-25,0600,,HU,28.0N,95.4W,80.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,3,NaN,1851-06-25,1200,,HU,28.0N,96.0W,80.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,4,NaN,1851-06-25,1800,,HU,28.1N,96.5W,80.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56717,56717,NaN,10/23/2023,1800,,TD,11.5N,83.2W,25.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56718,56718,NaN,10/24/2023,0000,,TD,12.2N,83.4W,25.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56719,56719,NaN,10/24/2023,0130,L,TD,12.4N,83.5W,25.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56720,56720,NaN,10/24/2023,0600,,TD,13.0N,83.8W,25.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56721,56721,NaN,10/24/2023,1200,,LO,13.5N,84.4W,20.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
nan_count = np.sum(df.isnull(), axis = 0)
nan_count

Name                          0
Num Entries               54749
Year                          0
Time                          0
Record Identifier             0
Status of System           1973
Latitude                   1973
Longitude                  1973
Maximum Sustained Wind     1973
Minimum Pressure           1973
34-knot Wind Radii NE      1973
34-knot Wind Radii SE      1973
34-knot Wind Radii SW      1973
34-knot Wind Radii NW      1973
50-knot Wind Radii NE      1973
50-knot Wind Radii SE      1973
50-knot Wind Radii SW      1973
50-knot Wind Radii NW      1973
64-knot Wind Radii NE      1973
64-knot Wind Radii SE      1973
64-knot Wind Radii SW      1973
64-knot Wind Radii NW      1973
dtype: int64

In [ ]:
#delete time entries that are not 12:00 or 6:00 am/pm
time_vals = df["Time"].unique()
time_vals = np.delete(time_vals, [0, 1, 2, 3])
df = df.replace(time_vals, np.nan).dropna()

array(['2100', '1500', '2000', ' 0300', '1100', '1000', '1700', '1600',
       ' 0400', ' 0800', ' 0900', '1300', '1400', ' 0700', '2200', '1900',
       '2300', ' 0200', ' 0500', ' 0100', '1930', '1630', '1830', '1530',
       ' 0030', '1330', '1730', '2030', '2230', ' 0930', '1725', ' 0530',
       '1145', '2046', '1720', ' 0130', ' 0834', ' 0840', ' 0905',
       ' 0830', '2130', ' 0615', '2152', ' 0330', ' 0430', '1230', '1130',
       ' 0630', ' 0756', '1105', ' 0915', ' 0045', '2013', '1030', '1945',
       '2045', ' 0730', '1415', ' 0650', '2235', ' 0245', '1845', '1110',
       '1445', ' 0740', '2145', ' 0645', '1115', ' 0340', ' 0845', '1315',
       '1745', '1820', '1430', '2315', ' 0515', '1245', '1645', ' 0230',
       ' 0525', ' 0935', ' 0410', ' 0315', '1615', '2330', ' 0445',
       ' 0810', '2245', ' 0345', ' 0545', ' 0115', '1015', ' 0520',
       '1640', ' 0215', ' 0310', ' 0850', ' 0945', '1840', ' 0355',
       ' 0855', ' 0920', '2320', '1520', '2325', '1655', '1920', '1905',
       '2035', '1805', ' 0715', ' 0745'], dtype=object)

In [23]:
np.sum(df.isnull(), axis = 0)

Name                      0
Num Entries               0
Year                      0
Time                      0
Record Identifier         0
Status of System          0
Latitude                  0
Longitude                 0
Maximum Sustained Wind    0
Minimum Pressure          0
34-knot Wind Radii NE     0
34-knot Wind Radii SE     0
34-knot Wind Radii SW     0
34-knot Wind Radii NW     0
50-knot Wind Radii NE     0
50-knot Wind Radii SE     0
50-knot Wind Radii SW     0
50-knot Wind Radii NW     0
64-knot Wind Radii NE     0
64-knot Wind Radii SE     0
64-knot Wind Radii SW     0
64-knot Wind Radii NW     0
dtype: int64

In [ ]:
#drop rows that do not have Wind Radii information
df = df.replace(-999.0, np.nan)
df = df.drop(df[df["34-knot Wind Radii SW"].isnull()].index)

,Name,Num Entries,Year,Time,Record Identifier,Status of System,Latitude,Longitude,Maximum Sustained Wind,Minimum Pressure,...,34-knot Wind Radii SW,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW
45339,ALEX,25,7/31/2004,1800,,TD,30.3N,78.3W,25.0,1010.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45340,ALEX,25,8/1/2004,0000,,TD,31.0N,78.8W,25.0,1009.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45341,ALEX,25,8/1/2004,0600,,TD,31.5N,79.0W,25.0,1009.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45342,ALEX,25,8/1/2004,1200,,TD,31.6N,79.1W,30.0,1009.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45343,ALEX,25,8/1/2004,1800,,TS,31.6N,79.2W,35.0,1009.0,...,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56716,TWENTY-ONE,6,10/23/2023,1200,,TD,11.4N,82.6W,25.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56717,TWENTY-ONE,6,10/23/2023,1800,,TD,11.5N,83.2W,25.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56718,TWENTY-ONE,6,10/24/2023,0000,,TD,12.2N,83.4W,25.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56720,TWENTY-ONE,6,10/24/2023,0600,,TD,13.0N,83.8W,25.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56721,TWENTY-ONE,6,10/24/2023,1200,,LO,13.5N,84.4W,20.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#get rows for specified months/years
months = ['9']
years = ['2020', '2021', '2022', '2023']
newDf = pd.DataFrame()
for y in years:
    for m in months:
        dfAdd = df[df["Year"].str.startswith(m)]
        dfAdd = dfAdd[dfAdd["Year"].str.endswith(y)]
        newDf = pd.concat([newDf, dfAdd], ignore_index=True)

df = newDf

Calculate speed of the hurricane/storm:

In [ ]:
def calc_distance(lat1, lon1, lat2, lon2):
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    R = 3958.8
    a = (sin(dlat / 2))**2 + cos(lat1) * cos(lat2) * (sin(dlon / 2))**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    return distance

In [ ]:
#create new columns to perform calculations
df['lat1'] = df['LAT'].shift(1)
df['lon1'] = df['LON'].shift(1)
df['lat1'].fillna(value=0, inplace=True)
df['lon1'].fillna(value=0, inplace=True)
df = df.reset_index(drop=True)
lat1Vals = df["lat1"]
lat2Vals = df["LAT"]
lon1Vals = df["lon1"]
lon2Vals = df["LON"]

In [ ]:
#calculate distance and add it to dataframe
dist = []
len = lat1Vals.size
for index in range(len):
    dist.append(calc_distance(radians(lat1Vals[index]), radians(lon1Vals[index]), radians(lat2Vals[index]), radians(lon2Vals[index])))
dist = pd.Series(dist)
df["Distance"] = dist
df["Distance"] = df["Distance"] / 6
#drop columns used for calculations
df = df.drop(columns=['lat1', 'lon1'], axis=1)
df

,Name,Num Entries,Year,Time,Record Identifier,Status of System,Latitude,Longitude,Maximum Sustained Wind,Minimum Pressure,...,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW,lat1,lon1,Distance
0,OMAR,27,9/1/2020,0000,,TD,32.9,76.2,30.0,1007.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5420.211795
1,OMAR,27,9/1/2020,0600,,TD,33.8,75.0,30.0,1005.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.9,76.2,93.078084
2,OMAR,27,9/1/2020,1200,,TS,34.6,73.7,35.0,1003.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.8,75.0,92.596522
3,OMAR,27,9/1/2020,1800,,TS,35.2,72.2,35.0,1003.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.6,73.7,94.570563
4,OMAR,27,9/2/2020,0000,,TS,35.8,70.7,35.0,1003.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.2,72.2,94.008629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,RINA,16,9/29/2023,1800,,TS,19.8,47.5,45.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.1,46.7,71.104069
1146,RINA,16,9/30/2023,0000,,TS,20.2,48.4,45.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.8,47.5,64.640552
1147,RINA,16,9/30/2023,0600,,TS,20.5,49.1,45.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.2,48.4,49.859941
1148,RINA,16,9/30/2023,1200,,TS,21.0,50.0,40.0,1002.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.5,49.1,67.638806
1149,RINA,16,9/30/2023,1800,,TS,22.1,51.0,40.0,1004.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,50.0,99.530017

In [ ]:
#make the first entry's speed null
for index in range(len - 1):
    if df.loc[index, 'Name'] != df.loc[index + 1, 'Name']:
        df.loc[index + 1, 'Distance'] = np.nan
df.loc[0, 'Distance'] = np.nan
df = df.rename(columns={"Distance":"Speed mph"})

In [ ]:
#export cleaned data
df.to_csv('hurdat_sep20_23.csv')