In [1]:
!pip install geopy

Requirement already satisfied: geopy in /opt/anaconda3/lib/python3.12/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /opt/anaconda3/lib/python3.12/site-packages (from geopy) (2.0)

In [2]:
import pandas as pd
from geopy.distance import geodesic

In [3]:
vessel_df = pd.read_csv('/Users/enrista/Downloads/MarshMcKennan/Impacted_vessel.txt')
hurricane_df = pd.read_csv('/Users/enrista/Downloads/MarshMcKennan/hurdat_cleaned.csv')

In [4]:
vessel_df

,Unnamed: 0,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass,impacted
0,7,369638000,2023-09-01 00:00:00,28.86447,-89.85028,19.8,303.4,301.0,IPANEMA,IMO9499929,WDE7991,60.0,0.0,53.0,9.0,2.4,70.0,A,False
1,11,367059890,2023-09-01 00:00:00,29.29027,-89.35788,0.1,307.0,511.0,JUDY ANN,NaN,WYR6559,31.0,0.0,19.0,7.0,NaN,31.0,A,False
2,13,338400219,2023-09-01 00:00:00,47.28132,-122.40204,0.0,9.4,511.0,MISCHIEF MAKER,IMO0000000,NaN,37.0,NaN,12.0,5.0,NaN,NaN,B,False
3,16,367007520,2023-09-01 00:00:00,27.85351,-97.17396,0.0,360.0,511.0,BROWN WATER V,NaN,WDC3414,31.0,5.0,14.0,6.0,NaN,52.0,A,False
4,17,316021988,2023-09-01 00:00:00,49.29496,-123.13326,0.0,275.6,511.0,CONSTITUTION,NaN,VY9477,60.0,15.0,NaN,NaN,NaN,60.0,A,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46417,7288243,236111851,2023-09-30 18:00:00,39.60782,-73.25011,2.6,9.5,20.0,SANCO SWIFT,IMO9630494,ZDKY8,90.0,0.0,97.0,20.0,6.2,38.0,A,False
46418,7288895,338226793,2023-09-30 18:00:00,29.54395,-95.01925,0.0,360.0,511.0,BRIE,IMO0000000,NaN,36.0,NaN,14.0,8.0,NaN,NaN,B,False
46419,7288896,338360188,2023-09-30 18:00:00,38.87069,-76.24390,6.7,304.5,511.0,VICTORINE,IMO0000000,NaN,36.0,NaN,10.0,3.0,NaN,NaN,B,False
46420,7290358,366998510,2023-09-30 18:00:00,38.04309,-122.12473,10.0,256.7,254.0,LIBERTY,IMO7717626,WDC2845,31.0,0.0,29.0,9.0,3.9,31.0,A,False
46421,7478585,367796190,2023-09-30 06:00:00,13.43171,144.66057,0.0,360.0,511.0,AGILITY,IMO9320984,WDJ6282,31.0,11.0,NaN,NaN,NaN,52.0,A,False

In [5]:
false_impacted_count = vessel_df[vessel_df['impacted'] == False].shape[0]
false_impacted_count

46413

In [31]:
true_impacted_count = vessel_df[vessel_df['impacted'] == True].shape[0]
true_impacted_count

9

In [6]:
hurricane_df

,Unnamed: 0,Name,Num Entries,Year,Time,Record Identifier,Status of System,Latitude,Longitude,Maximum Sustained Wind,...,34-knot Wind Radii SW,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW
0,45339,ALEX,25,7/31/2004,1800,,TD,30.3N,78.3W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,45340,ALEX,25,8/1/2004,0,,TD,31.0N,78.8W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,45341,ALEX,25,8/1/2004,600,,TD,31.5N,79.0W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,45342,ALEX,25,8/1/2004,1200,,TD,31.6N,79.1W,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,45343,ALEX,25,8/1/2004,1800,,TS,31.6N,79.2W,35.0,...,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10698,56716,TWENTY-ONE,6,10/23/2023,1200,,TD,11.4N,82.6W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10699,56717,TWENTY-ONE,6,10/23/2023,1800,,TD,11.5N,83.2W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10700,56718,TWENTY-ONE,6,10/24/2023,0,,TD,12.2N,83.4W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10701,56720,TWENTY-ONE,6,10/24/2023,600,,TD,13.0N,83.8W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10702,56721,TWENTY-ONE,6,10/24/2023,1200,,LO,13.5N,84.4W,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# we need to convert the vessel's BaseDateTime column to panda's datetime format so that we can merge datasets
vessel_df['BaseDateTime'] = pd.to_datetime(vessel_df['BaseDateTime'])

In [8]:
# TEMPORARILY: dropped rows with NaN values in 'Time' column
# hurricane_df = hurricane_df.dropna(subset=['Time'])

In [9]:
# TEMPORARILY: removed rows where 'Time' is not a number or contains invalid data
# hurricane_df = hurricane_df[hurricane_df['Time'].str.strip().str.isdigit()]

In [10]:
# this is just ensuring that all the values in the 'Time' column is 4 digits
hurricane_df['Time'] = hurricane_df['Time'].apply(lambda x: f'{int(x):04d}')  # Ensure it's 4 digits

In [11]:
hurricane_df

,Unnamed: 0,Name,Num Entries,Year,Time,Record Identifier,Status of System,Latitude,Longitude,Maximum Sustained Wind,...,34-knot Wind Radii SW,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW
0,45339,ALEX,25,7/31/2004,1800,,TD,30.3N,78.3W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,45340,ALEX,25,8/1/2004,0000,,TD,31.0N,78.8W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,45341,ALEX,25,8/1/2004,0600,,TD,31.5N,79.0W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,45342,ALEX,25,8/1/2004,1200,,TD,31.6N,79.1W,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,45343,ALEX,25,8/1/2004,1800,,TS,31.6N,79.2W,35.0,...,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10698,56716,TWENTY-ONE,6,10/23/2023,1200,,TD,11.4N,82.6W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10699,56717,TWENTY-ONE,6,10/23/2023,1800,,TD,11.5N,83.2W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10700,56718,TWENTY-ONE,6,10/24/2023,0000,,TD,12.2N,83.4W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10701,56720,TWENTY-ONE,6,10/24/2023,0600,,TD,13.0N,83.8W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10702,56721,TWENTY-ONE,6,10/24/2023,1200,,LO,13.5N,84.4W,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# we need to convert the hurricane's BaseDateTime column to panda's datetime format so that we can merge datasets
# we need to combine the 'Year' and 'Time' columns in the hurricane dataset to form a proper datetime
hurricane_df['hurricane_datetime'] = pd.to_datetime(hurricane_df['Year'] + ' ' + hurricane_df['Time'], format='%m/%d/%Y %H%M')

In [14]:
hurricane_df

,Unnamed: 0,Name,Num Entries,Year,Time,Record Identifier,Status of System,Latitude,Longitude,Maximum Sustained Wind,...,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW,hurricane_datetime
0,45339,ALEX,25,7/31/2004,1800,,TD,30.3N,78.3W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2004-07-31 18:00:00
1,45340,ALEX,25,8/1/2004,0000,,TD,31.0N,78.8W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2004-08-01 00:00:00
2,45341,ALEX,25,8/1/2004,0600,,TD,31.5N,79.0W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2004-08-01 06:00:00
3,45342,ALEX,25,8/1/2004,1200,,TD,31.6N,79.1W,30.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2004-08-01 12:00:00
4,45343,ALEX,25,8/1/2004,1800,,TS,31.6N,79.2W,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2004-08-01 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10698,56716,TWENTY-ONE,6,10/23/2023,1200,,TD,11.4N,82.6W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-10-23 12:00:00
10699,56717,TWENTY-ONE,6,10/23/2023,1800,,TD,11.5N,83.2W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-10-23 18:00:00
10700,56718,TWENTY-ONE,6,10/24/2023,0000,,TD,12.2N,83.4W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-10-24 00:00:00
10701,56720,TWENTY-ONE,6,10/24/2023,0600,,TD,13.0N,83.8W,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-10-24 06:00:00
10702,56721,TWENTY-ONE,6,10/24/2023,1200,,LO,13.5N,84.4W,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-10-24 12:00:00

In [15]:
# we round the vessel data to the nearest 6 hours so that it can match the hurricane data
# vessel_df['rounded_time'] = vessel_df['BaseDateTime'].dt.round('6H')

In [33]:
vessel_df

,Unnamed: 0,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TransceiverClass,impacted
0,7,369638000,2023-09-01 00:00:00,28.86447,-89.85028,19.8,303.4,301.0,IPANEMA,IMO9499929,WDE7991,60.0,0.0,53.0,9.0,2.4,70.0,A,False
1,11,367059890,2023-09-01 00:00:00,29.29027,-89.35788,0.1,307.0,511.0,JUDY ANN,NaN,WYR6559,31.0,0.0,19.0,7.0,NaN,31.0,A,False
2,13,338400219,2023-09-01 00:00:00,47.28132,-122.40204,0.0,9.4,511.0,MISCHIEF MAKER,IMO0000000,NaN,37.0,NaN,12.0,5.0,NaN,NaN,B,False
3,16,367007520,2023-09-01 00:00:00,27.85351,-97.17396,0.0,360.0,511.0,BROWN WATER V,NaN,WDC3414,31.0,5.0,14.0,6.0,NaN,52.0,A,False
4,17,316021988,2023-09-01 00:00:00,49.29496,-123.13326,0.0,275.6,511.0,CONSTITUTION,NaN,VY9477,60.0,15.0,NaN,NaN,NaN,60.0,A,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46417,7288243,236111851,2023-09-30 18:00:00,39.60782,-73.25011,2.6,9.5,20.0,SANCO SWIFT,IMO9630494,ZDKY8,90.0,0.0,97.0,20.0,6.2,38.0,A,False
46418,7288895,338226793,2023-09-30 18:00:00,29.54395,-95.01925,0.0,360.0,511.0,BRIE,IMO0000000,NaN,36.0,NaN,14.0,8.0,NaN,NaN,B,False
46419,7288896,338360188,2023-09-30 18:00:00,38.87069,-76.24390,6.7,304.5,511.0,VICTORINE,IMO0000000,NaN,36.0,NaN,10.0,3.0,NaN,NaN,B,False
46420,7290358,366998510,2023-09-30 18:00:00,38.04309,-122.12473,10.0,256.7,254.0,LIBERTY,IMO7717626,WDC2845,31.0,0.0,29.0,9.0,3.9,31.0,A,False
46421,7478585,367796190,2023-09-30 06:00:00,13.43171,144.66057,0.0,360.0,511.0,AGILITY,IMO9320984,WDJ6282,31.0,11.0,NaN,NaN,NaN,52.0,A,False

In [35]:
# this is where we merge the two datasets on the rounded time
merged_df = pd.merge(vessel_df, hurricane_df, left_on='BaseDateTime', right_on='hurricane_datetime', how='inner')

In [37]:
merged_df

,Unnamed: 0_x,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,...,34-knot Wind Radii NW,50-knot Wind Radii NE,50-knot Wind Radii SE,50-knot Wind Radii SW,50-knot Wind Radii NW,64-knot Wind Radii NE,64-knot Wind Radii SE,64-knot Wind Radii SW,64-knot Wind Radii NW,hurricane_datetime
0,7,369638000,2023-09-01 00:00:00,28.86447,-89.85028,19.8,303.4,301.0,IPANEMA,IMO9499929,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-09-01 00:00:00
1,7,369638000,2023-09-01 00:00:00,28.86447,-89.85028,19.8,303.4,301.0,IPANEMA,IMO9499929,...,80.0,80.0,80.0,70.0,40.0,40.0,50.0,40.0,20.0,2023-09-01 00:00:00
2,7,369638000,2023-09-01 00:00:00,28.86447,-89.85028,19.8,303.4,301.0,IPANEMA,IMO9499929,...,200.0,0.0,0.0,60.0,100.0,0.0,0.0,0.0,0.0,2023-09-01 00:00:00
3,7,369638000,2023-09-01 00:00:00,28.86447,-89.85028,19.8,303.4,301.0,IPANEMA,IMO9499929,...,20.0,20.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-09-01 00:00:00
4,7,369638000,2023-09-01 00:00:00,28.86447,-89.85028,19.8,303.4,301.0,IPANEMA,IMO9499929,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-09-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133194,7288896,338360188,2023-09-30 18:00:00,38.87069,-76.24390,6.7,304.5,511.0,VICTORINE,IMO0000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-09-30 18:00:00
133195,7290358,366998510,2023-09-30 18:00:00,38.04309,-122.12473,10.0,256.7,254.0,LIBERTY,IMO7717626,...,80.0,0.0,70.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-09-30 18:00:00
133196,7290358,366998510,2023-09-30 18:00:00,38.04309,-122.12473,10.0,256.7,254.0,LIBERTY,IMO7717626,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-09-30 18:00:00
133197,7478585,367796190,2023-09-30 06:00:00,13.43171,144.66057,0.0,360.0,511.0,AGILITY,IMO9320984,...,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-09-30 06:00:00
133198,7478585,367796190,2023-09-30 06:00:00,13.43171,144.66057,0.0,360.0,511.0,AGILITY,IMO9320984,...,60.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-09-30 06:00:00

In [39]:
vessel_df['BaseDateTime'].duplicated().sum()

46303

In [ ]:
merged_df.to_csv('merged_vessel_hurricane.csv', index=False)